<h1>registro de paciente</h1>

<form >
    <input type="text" placeholder="nombre" [(ngModel)]="paciente_nuevo.nombre" name="nombre"/>
    <span>{{ nombre_error }}</span>
    <br><br>

    <input type="email" name="gmail" [(ngModel)]="paciente_nuevo.gmail" placeholder="Correo electrónico">
    <br><br>

    <p>edad</p>
    <input type="number" name="edad" [(ngModel)]="paciente_nuevo.edad" placeholder="edad">
    <br><br>

    <input type="password" name="contrasena" [(ngModel)]="paciente_nuevo.contrasena" placeholder="Contraseña">
    <br><br>

    <button (click)="registrar()">enviar datos</button>
    <br>
    <br>
    <button routerLink="/login_paciente">ya tengo cuenta</button>
</form>

