<h1>registro de doctor</h1>

<form>
    <input  type="text" placeholder="nombre de doctor" name="nombre"  [(ngModel)]="nuevo_doctor.nombre" />
    <input  type="email" placeholder="gmail" name="nombre"  [(ngModel)]="nuevo_doctor.gmail" />
    <input  type="number" placeholder="tu edad" name="edad"  [(ngModel)]="nuevo_doctor.edad" />
    <input  type="password" placeholder="tu contraseña" name="contraseña"  [(ngModel)]="nuevo_doctor.contrasena" />
    <input  type="text" placeholder="tu ocupacion" name="ocupacion"  [(ngModel)]="nuevo_doctor.ocupacion" />

    


    <button (click)="registrar_doctor()">enviar datos</button>
</form>