<h1>login paciente</h1>

<form >
    <input type="number" placeholder="id" [(ngModel)]="paciente_log.id" name="id"/>
    <br><br>

    <input type="text" name="nombre" [(ngModel)]="paciente_log.nombre" placeholder="nombre">
    <br><br>

    <input type="password" name="contrasena" [(ngModel)]="paciente_log.contrasena" placeholder="Contraseña">
    <br><br>

    <button (click)="login()">enviar datos</button>
    <br>
    <p>{{ error_login }}</p>

    <button routerLink="">ir a login doctor</button>
    <button routerLink="/registrar_paciente">no tienes cuenta registrate ya</button>
</form>

