<h1>bienvenido de nuevo {{ nombreUsuario }}</h1>
<h2>tus post subidos hasta ahora son los siguientes: </h2>

<p>tu id es {{ id_param }}</p>

@for (po of lista_post; track $index) {
    <p>id: {{ po.id }} | estado: {{ po.estado }} | nombre de paciente: {{ po.nombre_paciente }} | descripcion_dolor : {{ po.descripcion_dolor }} | fecha de creacion : {{ po.fecha_creacion }} </p>
    <button (click)="eliminar_post(po.id)">borrar</button> <button (click)="editar_post(po.id)">editar</button>
}
<br><br>
<button (click)="salir()">salir</button>
<button (click)="enviar_id_reserva()">subir post de reserva</button>